#card-1 {
	background-image: url("../../Images/orangeHelmet.png");
}
#card-2 {
	background-image: url("../../Images/helmentInGrass.jpeg");
}
#card-3 {
	background-image: url("../../Images/helmetInHand.jpg");
}
